/*reset*/

    *,
    ::before,
    ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 24px;
        color: black;
    }
    header{
        width:1640px;
        height:80px;
        background-color: beige;
        display: flex;
        justify-content: flex-start;
    
     }
     nav{
        position:relative;
        padding-left: 600px;
        display:flex;
        align-items: center;
        justify-content: space-between;
     }
     nav .menu a{
        border-top: none;
        font-weight: 700;
        margin-left: 24px;
        color:rgb(230, 108, 16);
     }
    .logo{
        font-size: 20px;
        padding-left: 5px;
        color: brown;
        text-align: left;
    }
   /* header .menu{
        float:right;
        display: flex;
        padding-left: 625px;
        
     }
   header .menu a{
        padding:30px 15px;
        font-weight: 700;
        color: rgb(219, 165, 38);
        justify-content: center;
        text-decoration: none;
    } */
    section{
        width:1600px;
        margin: 0 auto;
        height: 200px;
        justify-items: flex-end;
        background-color:bisque;
    }
    .hero h1{
        font-size: 30px;
        padding-left:500px;
        top:100px;
     color:brown;

    }
    .hero p{
        font-size: 15px;
        padding-left:680px;
        top:50;
     color:brown;
    }
    main{
        display:grid;
        grid-template-columns: 2fr 1fr;
        margin-top:50px;
        grid-gap:60px;

    }
    .Blog{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:48px;
        /* width:1000px;
        height:1000px;
        padding-left:50px;
        background-color:rgb(218, 225, 171) ;
        display:grid;
        align-items: center;
        grid-template-areas: "Image1 Image2 Categories"
                             "Image3 Image4 Related Posts"; */
    }
    img{
        max-width:430px;
        height:350px;
        padding:0 auto;
        border-radius: 15%;
        
    }
    a{
        text-decoration: none;
        text-align: justify;
    }
    aside {
        border: 5px chocolate;
        list-style-type: none;
        padding-left: 60px;
        width: 300px;
        top:0;
        float: right;
        display: flex;
        flex-direction: column;
    }
    .Categories{
        width: 100%;
        height: 250px;
        padding-top: 5px;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: lightgray;

    }
    .Categories ul{
        list-style-type: none;
    }
    .RelatedPosts{
        list-style-type: none;
        width: 100%;
        height:250px;
        padding-top: 5px;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: rgb(228, 222, 209);
    }
    .RelatedPosts ul{
        list-style-type: none;
    }
    .Tags{
        list-style-type: none;
        width: 100%;
        height:250px;
        padding-top: 5px;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: rgb(156, 144, 180);

    }
    .Tags ul{
        list-style-type: none;
    }
    footer{
        list-style-type: none;
        width:100%;
        height:100px;
        display:block;
        align-items: center;
        background-color: rgb(219, 165, 38);
        font-size: 15px;
        color:aliceblue;
    }

   